<!DOCTYPE html>
<html>
<head>
    <%- include('partial/head.ejs') %>
</head>
<body>
    <%- include('partial/header.ejs') %>

    <div class="container mt-3">
        <h1>Welcome</h1>
    </div>
</body>
</html>