<div class="mb-3">
    <label class="visually-hidden" for="password">Password</label>
    <input class="form-control" name="password" type="password" placeholder="Password" value="<%= body.password %>">
</div>